*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.logo{
    list-style: none;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: myriad pro regular;
	font-size: 20px;
	color: #000000;
}
nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    background-color: #f6f5f5;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
	  padding: 0px 5%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

section{
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.text-container{
    position:absolute;
	left: 600px;
	color:black;
}
  
  .about {
    top: 30px;
  }
  
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem 5rem;
  }
  
  .title {
    margin: 0rem 0 3rem 0;
    text-align: center;
  }
  
  .title h1 {
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
  }
  
  .title h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: #dd9a05;
    width: 50%;
    height: 0.4rem;
    z-index: 1;
  }
  
  
  .right h1 {
    margin-bottom: 2rem;
  }
  
  .right p {
    line-height: 2;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .right h1 span {
    color: #dd9a05;
  }
  
  .theme {
    background-color: #000;
  }
  
  .theme .title {
    color: #fff;
  }
  
  .services-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
  }
  
  .service {
    color: #fff;
    background-color: #111;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
  }
  
  .service span {
    color: #dd9a05;
    font-size: 4rem;
  }
  
  .service h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .service p {
    font-size: 1.4rem;
    color: #f1f1f1;
  }
footer{
	text-align: center;
	padding: 3px;
	background-color: black;
	color: white;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection{
background: rgb(0,123,255,0.3);
}
.content{
max-width: 1250px;
margin: auto;
padding: 0 30px;
}
.navbar{
position: fixed;
width: 100%;
transition: all 0.3s ease;
display: flex;
width: 100%;
margin: auto;
padding: 20px 0;
background-color: #f6f5f5;
align-items: center;
justify-content: space-between;
box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
padding: 0px 5%;
}
.navbar.sticky{
background: #D2C1B3;
padding: 10px 0;
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar .logo a{
color: #fff;
font-size: 30px;
font-weight: 600;
text-decoration: none;
list-style: none;
text-decoration: none;
color: #000;
font-weight: bold;
font-family: myriad pro regular;
font-size: 20px;
margin-right: 120px;
}
.navbar .menu-list{
display: inline-block;
}
.menu-list li{
list-style: none;
}
.menu-list li a{
color:#000;
font-size: 18px;
font-weight: 500;
margin-left: 25px;
text-decoration: none;
transition: all 0.3s ease;
display: inline-block;
list-style: none;
margin: 10px 20px;
}
.menu-list li a:hover{
color:#966045 ;
}
.banner{
background: url("banner.jpg") no-repeat;
height: 100vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.about{
padding: 30px 0;
}
.about .title{
font-size: 38px;
font-weight: 700;
}
.about p{
padding-top: 20px;
text-align: justify;
}
.icon{
color: #fff;
font-size: 20px;
cursor: pointer;
display: none;
}
.menu-list .cancel-btn{
position: absolute;
right: 30px;
top: 20px;
}
@media (max-width: 1230px) {
.content{
  padding: 0 60px;
}
}
@media (max-width: 1100px) {
.content{
  padding: 0 40px;
}
}
@media (max-width: 900px) {
.content{
  padding: 0 30px;
}
}
@media (max-width: 868px) {
body.disabled{
  overflow: hidden;
}
.icon{
  display: block;
}
.icon.hide{
  display: none;
}
.navbar .menu-list{
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  left: -100%;
  top: 0px;
  display: block;
  padding: 40px 0;
  text-align: center;
  background: #222;
  transition: all 0.3s ease;
}
.navbar.show .menu-list{
  left: 0%;
}
.navbar .menu-list li{
  margin-top: 45px;
}
.navbar .menu-list li a{
  font-size: 23px;
  margin-left: -100%;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar.show .menu-list li a{
  margin-left: 0px;
}
}
@media (max-width: 380px) {
.navbar .logo a{
  font-size: 27px;
}
}